:root {
--iris: #4D5AE5;
--navyblue: #2E2F42;
--ocean: #404BBF;
--slate: #434455;
--white: #FFFFFF;
--green: #31D0AA;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud: #F4F4FD;
--dairy: #FCFCFC;
--grey-bg: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: var(--slate);
    background-color: var(--white);
}

button {
  font-family: inherit;
  cursor: pointer;
}


/* Reset styles */
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
  |============================
  | Header section
  |============================
*/

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.border {
border-bottom: 1px solid var(--cornflower);
}

.logo-color-iris {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 156;
    padding-top: 25.5;
}

.logo-color-navyblue {
    color: var(--navyblue);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-nav {
display: flex;
align-items: center;
}

.lg-header {
margin-right: 76px;
}

/* Navigation */

.nav-link-portfolio {
position: relative;
color: var(--navyblue);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
padding: 24px 0;
display: inline-block;

transition-property: color;
transition-duration: 400ms;
transition-timing-function: ease;
}

.nav-link-portfolio:hover,
.nav-link-portfolio:focus {
  color: var(--ocean);
}

.nav-link-portfolio::after{
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-link-portfolio.current::after{
background-color: var(--ocean);
}

.nav-link {
  display: flex;
  gap: 40px;
}

.address-header-styl {
  font-style: normal;
  text-decoration: none;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
  
}

.address-header-styl:hover,
.address-header-styl:focus {
  color: var(--ocean);
}

.address-link {
  display: flex;
  gap: 40px;
}




/**
  |============================
  | Button section
  |============================
*/
.style-button-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);

  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  border-radius: 4px;

  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.style-button-portfolio:hover,
.style-button-portfolio:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.btn-link {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.btn-section{
padding-top: 96px;
padding-bottom: 120px;
}


/**
  |============================
  | Portfolio section
  |============================
*/

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-h-two {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navyblue);
}

.title-ptf {
margin-bottom: 8px;
}

.portfolio-section-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.carts-box{
position: relative;
overflow: hidden;
}

.overlay-text{
font-family: Roboto;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud);
}

.overlay{
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
transition-property: transform;
transition-duration: 400ms;
transition-timing-function: ease;

width: 100%;
height: 100%;
padding: 40px 32px 164px;

display: flex;
align-items: center;
justify-content: center;
background: var(--iris);
}

.carts-set-iteam:hover .overlay{
  transform: translateY(0);
}

.carts-set {
display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
padding: 0;
}

.carts-set-iteam {
width: calc((100% - 48px) / 3);
}

.carts-set-iteam:hover,
.carts-set-iteam:focus{
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | Hero section
  |============================
*/

.section-hero-bg {
  background-color: var(--navyblue);
  padding: 188px 0;
  margin: 0 auto;

  background-image: linear-gradient(rgba(46, 47, 66, 0.70),
  rgba(46, 47, 66, 0.70)),
  url(../images/hero/people-office-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 600px;
}


.style-button-hero {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  font-weight: 500;
  background-color: var(--iris);

  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.btn {
display: block;
padding: 16px 32px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
border: none;
}

.style-button-hero:hover,
.style-button-hero:focus {
background-color: var(--ocean);
}

.style-h-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-h {
  display: block;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

/**
  |============================
  | Strategy section
  |============================
*/

.strategy-iteams {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: auto;
}

.strategy-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 100px;
}

.str-icon-wrapper {
  display: flex;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
}

.style-section-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.style-h-three {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.style-h-two {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.strategy-section {
  padding: 120px 0;
}

.str-style {
width: calc((100% - 72px) / 4);
}

/**
  |============================
  | Doing section
  |============================
*/

.doing-iteams {
  display: flex;
  margin-bottom: 120px;
  gap: 24px;
  margin: auto;
  padding: 0;
}

.doing-style-list {
width: calc((100% - 48px) / 3);
}

.doing-box {
padding-bottom: 120px;
}

/**
  |============================
  | Team section
  |============================
*/
.section-team-style {
  background-color: var(--cloud);
  padding: 120px 0;
  max-height: 780px;
  margin-bottom: 120px;
}

.networks-icons {
display: flex;
align-items: center;
justify-content: center;
fill: var(--cloud);
}

.team-icons {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  
}

.networks-wrapper {
background-color: var(--iris);
border-radius: 50%;
width: 40px;
height: 40px;

display: inline-flex;
justify-content: center;
align-items: center;

transition-property: color;
transition-duration: 400ms;
transition-timing-function: ease;
}

.networks-wrapper:hover,
.networks-wrapper:focus {
background-color: var(--ocean);
}

.team-iteams {
  display: flex;
  gap: 24px;
  margin: auto;
  padding: 0;
}

.team-bg-white {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
  0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.name {
  text-align: center;
  margin-bottom: 8px;
}

.text {
text-align: center;
margin-bottom: 8px;
}

.title-team {
padding: 32px 0;
text-align: center;
}

/**
  |============================
  | Customers section
  |============================
*/

.customers-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: var(--light-slate);

  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.customers-icons:hover,
.customers-icons:focus {
  fill: var(--ocean);
}

.customers-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  margin-bottom: 120px;
}

.customers-wrapper:hover,
.customers-wrapper:focus {
border: 1px solid var(--ocean);
}

.company-icon {
  display: inline-flex;
  gap: 24px;
}


/**
  |============================
  | Footer section
  |============================
*/
.footer-bg-color {
  background-color: var(--navyblue);
}

.container-ft {
display: flex;
align-items: center;
padding: 100px 0;
}

.logo-color-cloud {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 0, 21;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-footer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-footer-p {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
  margin-top: 17.5px;

  display: flex;
}

.ft-logo {
margin-right: 269px;
display: inline-block;
}

.text-icons-p {
  color: var(--cloud);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.stn-icon-ft {
  display: inline-block;
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
}

.ft-section-icn {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  margin-top: 16px;

}

.wrapper-icons-footer {
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.wrapper-icons-footer:hover,
.wrapper-icons-footer:focus {
background-color: var(--green);
}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.40);

  transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.modal {
width: 408px;
min-height: 584px;

position: absolute;
top: 50%;
left: 50%;

transform: translateX(-50%) translateY(-50%);

border-radius: 4px;
background: var(--dairy, #FCFCFC);
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
transition: transform 300ms ease-in 300ms, opacity 300ms ease-in 300ms;
}

.backdrop.is-hidden .modal{
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
}

.modal-btn {
position: absolute;
top: 32px;
right: 32px;

padding: 0;
width: 24px;
height: 24px;

background: var(--cornflower);
border: 1px solid rgba(0, 0, 0, 0.10);
border-radius: 50%;

display: flex;
align-items: center;
justify-content: center;
}

.modal-btn-icon {

}